@import "~src/styles/includes.scss";

.paginator-container {
  display: flex;

  > div {
    width: 50%;
    &.next {
      text-align: right;
    }
  }

  > span {
    color: $grey-2;
    flex-shrink: 0;
  }
}
