@mixin media-query-gt-xs() {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin media-query-gt-sm() {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin media-query-gt-md() {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin media-query-gt-lg() {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

@mixin row-grid($columns, $gap: 16px) {
  margin-right: -#{$gap};
  margin-bottom: -#{$gap};
  display: flex;
  flex-wrap: wrap;
  > * {
    width: #{100% / $columns};
    padding-right: $gap;
    margin-bottom: $gap;
  }
}

@mixin row-grid-col-override($columns) {
  > * {
    width: #{100% / $columns};
  }
}
