/* COLORS */
$black: black;
$grey-1: #444;
$grey-2: #aaa;
$grey-3: #eee;
$white: white;
$lightblue: #349beb;

/* SPACING */
$default-small-padding: 16px;
$default-text-padding: 16px;
$default-text-small-padding: 8px;
$default-item-padding: 24px;
$default-page-padding: 32px;

/* OTHER VARIABLES */
$default-radius: 16px;

/* MEDIA QUERY MIXINS */
@mixin media-query-gt-xs() {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin media-query-gt-sm() {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin media-query-gt-md() {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin media-query-gt-lg() {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

/* GRID MIXINS */
@mixin row-grid($columns, $target-width, $gap: 24px) {
  margin-right: -#{$gap};
  margin-bottom: -#{$gap};
  display: flex;
  flex-wrap: wrap;
  max-width: $target-width * $columns;
  > * {
    align-self: stretch;
    width: #{100% / $columns};
    padding-right: $gap;
    margin-bottom: $gap;
  }
}

@mixin row-grid-col-override($columns, $target-width) {
  max-width: $target-width * $columns;
  > * {
    width: #{100% / $columns};
  }
}
