@import "~src/styles/includes.scss";

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .app-title {
    flex-shrink: 0;
    text-align: center;
    padding: $default-item-padding;
  }
  .app-body {
    flex-grow: 1;
    background-color: $grey-3;
  }
  .app-footer {
    text-align: center;
    padding: $default-small-padding;
    > span {
      font-weight: bold;
      color: black;
    }
  }
}

@include media-query-gt-md() {
  .app-container {
    .app-title {
      padding: $default-page-padding;
    }
  }
}
