@import "~src/styles/includes.scss";

.character-card {
  display: flex;
  flex-direction: column;
  border-radius: $default-radius;
  overflow: hidden;
  height: 100%;
  background-color: $grey-1;

  .image {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 200px;
    img {
      flex-grow: 1;
    }
  }
  .character-info {
    padding: $default-item-padding;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info {
      display: flex;
      justify-content: space-between;
      padding-bottom: $default-text-small-padding;
      .info-label {
        color: $grey-2;
      }
      .info-value {
        text-align: right;
        padding-left: $default-text-padding;
        color: $white;
      }
    }
  }
}
