<div class="character-card">
  <div *ngIf="character.image" class="image">
    <img loading="lazy" [src]="character.image" />
  </div>
  <div class="character-info">
    <div class="info">
      <div class="info-label">Name</div>
      <div class="info-value">{{ character.name | handleNull }}</div>
    </div>
    <div class="info">
      <div class="info-label">Type</div>
      <div class="info-value">{{ character.type | handleNull }}</div>
    </div>
    <div class="info">
      <div class="info-label">Gender</div>
      <div class="info-value">{{ character.gender | handleNull }}</div>
    </div>
    <div class="info">
      <div class="info-label">Species</div>
      <div class="info-value">{{ character.species | handleNull }}</div>
    </div>
    <div class="info">
      <div class="info-label">Status</div>
      <div class="info-value">{{ character.status | handleNull }}</div>
    </div>
    <div class="info">
      <div class="info-label">Origin</div>
      <div
        class="info-value"
        *ngIf="character.extendedOrigin as originInfo; else baseOrigin"
      >
        {{ originInfo.name | handleNull }} <br />
        <i>type: </i>{{ originInfo.type | handleNull }} <br />
        <i>dimension: </i>{{ originInfo.dimension | handleNull }} <br />
        <i>residents: </i>{{ originInfo.residents.length }}
      </div>
    </div>
    <div class="info">
      <div class="info-label">Location</div>
      <div
        class="info-value"
        *ngIf="character.extendedLocation as locationInfo; else baseLocation"
      >
        {{ locationInfo.name | handleNull }} <br />
        <i>type: </i>{{ locationInfo.type | handleNull }} <br />
        <i>dimension: </i>{{ locationInfo.dimension | handleNull }} <br />
        <i>residents: </i>{{ locationInfo.residents.length }}
      </div>
    </div>
    <div class="info" *ngIf="character.extendedEpisodes as episodesInfo">
      <div class="info-label">Episodes</div>
      <div class="info-value">
        <ng-container
          *ngFor="let episode of episodesInfo | slice: 0:maxEpisodes"
          >{{ episode.name | handleNull }} <br
        /></ng-container>
        <span
          class="caption link"
          (click)="showMoreEpisodes()"
          *ngIf="episodesInfo.length > maxEpisodes"
          >show more</span
        >
      </div>
    </div>
  </div>
</div>

<ng-template #baseLocation>
  <div class="info-value">{{ character.location.name | handleNull }}</div>
</ng-template>

<ng-template #baseOrigin>
  <div class="info-value">{{ character.origin.name | handleNull }}</div>
</ng-template>
