@import "~src/styles/includes.scss";

.character-list-page {
  padding: $default-page-padding;
  margin: 0 auto;
  display: table;

  .character-list {
    @include row-grid(1, 400px);
  }

  @include media-query-gt-sm {
    .character-list {
      @include row-grid-col-override(2, 400px);
    }
  }

  @include media-query-gt-md {
    .character-list {
      @include row-grid-col-override(3, 400px);
    }
  }

  @include media-query-gt-lg {
    .character-list {
      @include row-grid-col-override(4, 400px);
    }
  }
}
