@import "~src/styles/includes.scss";

.character-list-page {
  padding: $default-page-padding;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .character-list {
    flex-grow: 1;
    align-self: center;
    @include row-grid(1, 400px);
  }

  @include media-query-gt-sm {
    .character-list {
      @include row-grid-col-override(2, 400px);
    }
  }

  @include media-query-gt-md {
    .character-list {
      @include row-grid-col-override(3, 400px);
    }
  }

  @include media-query-gt-lg {
    .character-list {
      @include row-grid-col-override(4, 400px);
    }
  }

  img {
    max-width: 100%;
    cursor: pointer;
  }

  .paginator {
    flex-shrink: 0;
    padding-top: $default-item-padding;
  }
}
