<div class="character-list-page">
  <div class="character-list">
    <ng-container *ngIf="characters$ | async as characters">
      <app-character-info
        *ngFor="let character of characters"
        [character]="character"
      ></app-character-info>
    </ng-container>
  </div>
  <img
    src="assets/error.png"
    *ngIf="charactersError$ | async"
    (click)="goToPage(1)"
  />
  <div class="paginator" *ngIf="pagesInfo$ | async as pagesInfo">
    <app-paginator
      [currentPage]="pagesInfo.currentPage"
      [totalPages]="pagesInfo.totalPages"
      (changePage)="goToPage($event)"
    ></app-paginator>
  </div>
</div>
